<div class="row" style="margin-bottom:30px;">
  <div class="col-md-4 m-b-lg">
    <!-- <input type="text" class="form-control" [(ngModel)]="user" placeholder="Search"> -->
  </div>
</div>
<div class="row">
  <div class="col-md-4 m-b-lg" *ngFor="let user of users; let i = index">
    <div class="panel panel-default panel-profile m-b-0">
      <div class="panel-body text-center">
        <img class="panel-profile-img" src="{{user.avatar_url}}" style="width:100px;height:100px;border-radius:50px;">
        <h5 class="panel-title">{{user.login}}</h5>
        <a href="{{user.login}}" class="btn btn-primary-outline btn-sm m-b">
          <span class="icon icon-add-user"></span> View Profile
        </a>
      </div>
    </div>
  </div>
</div>